.movie-detail-container{
    padding-top: 75px;
    height: 470px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 800px;
    color: white;
}

.movie-detail-background{
    background: rgba(46, 46, 44, 0.8);
}

.movie-detail-img{
    height: 70%;

}

.movie-detail-img img{
    height: 100%;
    margin: 55px 30px 30px 30px;
    border-radius: 10px;
}

.movie-detail-info{
    width: 100%;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.movie-first-air h1{
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
}

.movie-overview{
    padding-top: 20px;
    text-align: justify;
}

.movie-overview h1:nth-child(1){
    font-size: 25px;
    font-weight: 600;
}

.movie-overview h1:nth-child(2){
    font-size: 16px;
}

.movie-detail-info-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movie-detail-info-title h1:nth-child(1){
    font-size: 25px;
}

.movie-detail-info-title h1:nth-child(2){
    font-size: 15px;
}

.movie-season-chapters{
    padding-top: 15px;
}

.movie-season-chapters h1{
    font-size: 13px;
    margin: 0;
}

@media (max-width: 500px) {
    .movie-detail-container{
        flex-direction: column;
        height: 750px;
        overflow-y: scroll;
    }

    .movie-detail-img img{
        height: 270px;
        border-radius: 10px;
        margin: 0;
    }

    .movie-detail-img {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .movie-detail-info{
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
.movie-detail-container::-webkit-scrollbar {
    width: 3px;
  }
   
  .movie-detail-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
  }
   
  .movie-detail-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 2px;
  }
    
}