.TodoButton{
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 50%;
    border: none;
    background-color: var(--marine-green);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0;
    margin: 0;
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 5;
}

.TodoButton--close{
    background-color: rgb(244, 57, 57);
    transform: rotate(45deg);
    transition: 0.1s;
}

.TodoButton:hover{
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.1);
    transition: 0.1s;
}


