.search-result-container {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-result-container a{
  text-decoration: none;
  color: black;
}

.search-result-container a:hover{
  text-decoration: none;
  color: black;
}


.item-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: 150px;
  width: 400px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 1s;
}

.item-container:hover {
  background-color: rgb(232, 231, 231);
  transition: 0.5s;
}

.img-container {
  width: 200px;
}

.search-movie-img {
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.show-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.show-info-overview p{
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show-info-title{
    font-size: 20px;
}

.show-info-title p{
    margin: 0;
}

.show-info-date{
    font-size: 13px;
}
