.trendingPreview-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 10px;
  padding-right: 10px;

  padding-bottom: 16px;
  display: flex;
  gap: 15px;
}

.trendingPreview-movieList .movie-container {
  display: inline-flex;
  margin-right: 0px;
  gap: 0px;
}

.trendingPreview-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  cursor: pointer;
  border-radius: 10px;
}

.genericList-container .movie-container {
    display: flex;
    width: 47.5%;
  }

  .trendingPreview-movieList::-webkit-scrollbar {
    height: 5px;
  }
   
  .trendingPreview-movieList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
  }
   
  .trendingPreview-movieList::-webkit-scrollbar-thumb {
    background-color: var(--orange3);
    outline: 1px solid var(--orange3);
    border-radius: 2px;
  }

  .trending-title{
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--green2);
    text-align: center;
  }

  .trending-container{
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  }
